//====================================================================================================

.footer {
  // .footer__row
  &__row {
    margin: 18px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    @media (max-width: $mobile) {
      display: grid;
      grid-template-areas:
        "A B"
        "C C";
      gap: 20px;
    }
  }
  // .footer__column
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    gap: 30px;
    @media (max-width: $mobile) {
      text-align: center;
      grid-area: C;
      gap: 20px;
    }
    & p {
      color: #939393;
      font-size: 20px;
    }
  }
  // .footer__logo
  &__logo {
    @media (max-width: $mobile) {
      grid-area: A;
    }
    & img {
      max-width: 160px;
      @media (max-width: $tablet) {
        max-width: 132px;
      }
    }
  }
  // .footer__links
  &__links {
    text-align: center;
    @media (max-width: $mobile) {
      grid-area: B;
      text-align: right;
    }
    // .footer__links_item
    &_item {
      font-size: 20px;
      color: #939393;
      transition: all 0.3s ease 0s;
      &:first-child {
        color: #000;
      }
      @media (any-hover: hover) {
        &:hover {
          color: #000;
        }
      }
      &.kl {
        font-weight: 700;
      }
    }
  }
}
.fc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-right: 16px solid #951e20;
  border-left: 16px solid #951e20;
  @media (max-width: $pc) {
    flex-direction: column;
  }
  @media (max-width: $tablet) {
    border-right: 8px solid #951e20;
    border-left: 8px solid #951e20;
    padding: 0 20px;
  }
  // .fc__button
  &__button {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 88%;
    color: #000000;
    position: relative;
    width: fit-content;
    @media (max-width: $pc) {
      margin-top: 14px;
      margin-bottom: 20px;
    }
    &::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: #951e20;
      bottom: -7px;
      left: 0;
    }
  }
  // .fc__contacts
  &__contacts {
    display: flex;
    align-items: center;
    gap: 48px;
    @media (max-width: $mobile) {
      gap: 16px;
    }
    // .fc__contacts_tel
    &_tel {
      background: #9b1e21;
      border-radius: 5px;
      padding: 16px 40px;
      border: 1px solid #9b1e21;
      color: #fff;
      transition: all 0.3s ease 0s;
      @media (max-width: $mobile) {
        padding: 0 30px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
      }
      @media (any-hover: hover) {
        &:hover {
          color: #9b1e21;
          background: #ffffff;
        }
      }
    }
    // .fc__contacts_site
    &_site {
      @media (max-width: $pc) {
        display: none;
      }
      & svg path {
        transition: all 0.3s ease 0s;
      }
      @media (any-hover: hover) {
        &:hover {
          & svg path {
            &:first-child {
              fill: #9b1e21;
            }
            &:last-child {
              stroke: white;
              fill: #9b1e21;
            }
          }
        }
      }
    }
    // .fc__contacts_inst
    &_inst {
      & svg {
        & path,
        & rect {
          transition: all 0.3s ease 0s;
        }
        @media (max-width: $mobile) {
          height: 40px;
        }
      }
      @media (any-hover: hover) {
        &:hover {
          & svg {
            & path {
              fill: #9b1e21;
            }
            & rect {
              &:first-child {
                fill: white;
              }
            }
          }
        }
      }
    }
  }
}
.kj {
  @media (max-width: $mobile) {
    display: none;
  }
}
.kl {
  @media (min-width: $mobile) {
    display: none;
  }
}

//====================================================================================================
