//====================================================================================================

.mb {
  margin-top: 20px;
  margin-bottom: 32px;
  // .mb__container
  &__container {
  }
  // .mb__main
  &__main {
    border: 14px solid #000;
    position: relative;
    // .mb__main_con
    &_con {
      border-left: 16px solid #951e20;
      border-right: 16px solid #951e20;
      overflow: hidden;
    }
  }
  // .mb__grid
  &__grid {
    margin: -14px 36px;
    padding: 14px;
    grid-template-columns: auto auto auto;
    display: grid;
    column-gap: 14px;
    row-gap: 20px;
    background-color: #000;
    grid-template-areas:
      "A  B  D"
      "A  C  D"
      "E  E  F";

    // .mb__grid_con
    &_con {
      position: relative;
      width: 100%;
      height: 100%;
    }
    // .mb__grid_item
    &_item {
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s ease 0s;
        position: relative;
        z-index: 2;
      }
      &:nth-child(1) {
        grid-area: A;
        position: relative;
        & .mb__grid_text {
          position: absolute;
          bottom: 0;
          height: calc(58% - 20px);
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 129%;
          color: #ffffff;
        }
        & .mb__grid_link {
          position: absolute;
          top: 0;
          width: 100%;
          height: 42%;
          z-index: 3;
          padding: 24px 26px;
          display: flex;
          flex-direction: column;
          opacity: 0;
          visibility: hidden;
          transition: all 0.5s ease 0s;
          & p {
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 110%;
            color: #000000;
            flex: 1 1 auto;
          }
          & span {
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 110%;
            color: #000000;
            align-self: flex-end;
          }
        }
        & .mb__grid_con {
          background: #9b1e21;
          &::before {
            content: "";
            position: absolute;
            height: 20px;
            width: 95%;
            bottom: -20px;
            left: -50%;
            background-color: #000;
            z-index: 5;
            pointer-events: none;
          }
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(255, 220, 181, 0.6);
            backdrop-filter: blur(4px);
            opacity: 0;
            visibility: hidden;
            left: 0;
            transition: all 0.5s ease 0s;
            z-index: 2;
          }
        }
        &::before {
          content: "";
          position: absolute;
          background-color: #000;
          height: 20px;
          width: 100%;
          left: -55%;
          top: 42%;
          z-index: 5;
        }
        &::after {
          content: "";
          position: absolute;
          background-color: #000;
          height: 20px;
          width: 45%;
          right: 0;
          top: 42%;
          z-index: 5;
        }
        @media (any-hover: hover) {
          &:hover {
            & .mb__grid_con::after {
              opacity: 1;
              visibility: visible;
              height: calc(42% + 20px);
            }
            & img {
              height: calc(42% + 20px);
            }
            & .mb__grid_link {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      &:nth-child(2) {
        grid-area: B;
      }
      &:nth-child(3) {
        grid-area: C;
        position: relative;
        & .mb__grid_con {
          &::before {
            content: "";
            position: absolute;
            width: 91%;
            height: 20px;
            bottom: -20px;
            right: -50%;
            background-color: #000;
            z-index: 5;
            pointer-events: none;
          }
          &::after {
            content: "";
            position: absolute;
            width: 92%;
            height: 20px;
            bottom: -20px;
            right: 55%;
            background-color: #000;
            z-index: 5;
            pointer-events: none;
          }
        }
        &::before {
          content: "";
          position: absolute;
          height: 20px;
          width: 15%;
          top: -20px;
          left: 50%;
          transform: translate(-50%, 0);
          background-color: #9b1e21;
        }
      }
      &:nth-child(4) {
        grid-area: D;
        position: relative;
        max-width: 400px;
        & .mb__grid_text {
          position: absolute;
          bottom: 0;
          height: calc(58% - 20px);
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 129%;
          color: #ffffff;
          padding: 50px;
        }
        & .mb__grid_link {
          position: absolute;
          top: 0;
          width: 100%;
          height: 42%;
          z-index: 3;
          padding: 24px 26px;
          display: flex;
          flex-direction: column;
          opacity: 0;
          visibility: hidden;
          transition: all 0.5s ease 0s;
          & p {
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 110%;
            color: #000000;
            flex: 1 1 auto;
          }
          & span {
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 110%;
            color: #000000;
            align-self: flex-end;
          }
        }
        & .mb__grid_con {
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(214, 209, 183, 0.6);
            backdrop-filter: blur(3px);
            opacity: 0;
            visibility: hidden;
            left: 0;
            transition: all 0.5s ease 0s;
            z-index: 2;
          }
        }
        &::before {
          content: "";
          position: absolute;
          background-color: #000;
          height: 20px;
          width: 45%;
          left: 0;
          top: 42%;
          z-index: 5;
        }
        &::after {
          content: "";
          position: absolute;
          background-color: #000;
          height: 20px;
          width: 100%;
          right: -55%;
          top: 42%;
          z-index: 5;
        }
        @media (any-hover: hover) {
          &:hover {
            & .mb__grid_con::after {
              opacity: 1;
              visibility: visible;
              height: calc(42% + 20px);
            }
            & img {
              height: calc(42% + 20px);
            }
            & .mb__grid_link {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      &:nth-child(5) {
        grid-area: E;
        position: relative;
        display: flex;
        flex-direction: column;
        & img {
          height: 107.5%;
          flex: 1 0 107.5%;
        }
        & .mb__grid_text {
          position: absolute;
          right: 0;
          height: 100%;
          width: 49%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 129%;
          color: #ffffff;
        }
        & .mb__grid_link {
          position: absolute;
          left: 0;
          height: 100%;
          width: 51%;
          z-index: 3;
          padding: 24px 26px;
          display: flex;
          flex-direction: column;
          opacity: 0;
          visibility: hidden;
          transition: all 0.5s ease 0s;
          & p {
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 110%;
            color: #000000;
            flex: 1 1 auto;
          }
          & span {
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 110%;
            color: #000000;
            align-self: flex-end;
          }
        }
        & .mb__grid_con {
          background: #e4c199;
          overflow-y: clip;
          flex: 1 1 260px;
          display: flex;
          flex-direction: column;
          margin-top: -20px;
          margin-right: -14px;
          &::before {
            content: "";
            position: absolute;
            background-color: #000;
            width: 14px;
            height: 85%;
            bottom: 0;
            right: -14px;
            z-index: 5;
          }
          &::after {
            content: "";
            position: absolute;
            width: 102.5%;
            height: 107.5%;
            background: rgba(228, 193, 163, 0.7);
            backdrop-filter: blur(2px);
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease 0s;
            z-index: 3;
          }
        }
        &::before {
          content: "";
          position: absolute;
          width: 14px;
          height: 35%;
          background: #000;
          top: 0;
          left: 49%;
          z-index: 5;
          pointer-events: none;
        }
        &::after {
          content: "";
          position: absolute;
          width: 14px;
          height: 38%;
          background: #000;
          bottom: 0;
          left: 49%;
          z-index: 5;
          pointer-events: none;
        }
        @media (any-hover: hover) {
          &:hover {
            & .mb__grid_con::after {
              opacity: 1;
              visibility: visible;
              width: 51%;
            }
            & img {
              width: 51%;
            }
            & .mb__grid_link {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      &:nth-child(6) {
        grid-area: F;
        background: #e4c199;
        position: relative;
        padding-left: 14px;
        margin-left: -14px;
        &::before {
          content: "";
          position: absolute;
          height: 20px;
          width: 100%;
          background-color: #000;
          top: -20px;
          right: -100%;
        }
        &::after {
          content: "";
          position: absolute;
          background-color: #e4c199;
          width: 10%;
          height: 20px;
          top: -20px;
          left: 45%;
        }
        & .mb__grid_con {
          max-width: 400px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 26px;
          & p {
            font-style: normal;
            font-weight: 400;
            font-size: 54px;
            line-height: 88%;
            color: #070000;
            text-align: center;
            text-transform: uppercase;
          }
          & button {
            background: #951e20;
            border: 2px solid #cd0000;
            border-radius: 5px;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 129%;
            color: #ffffff;
            text-transform: uppercase;
            padding: 10px 45px;
            transition: all 0.5s ease 0s;
            @media (any-hover: hover) {
              &:hover {
                background: #ffffff;
                color: #951e20;
              }
            }
          }
        }
      }
    }
  }
}

//====================================================================================================

.sb {
  margin-bottom: 36px;
  // .sb__title
  &__title {
    margin-bottom: 30px;
  }
}
.spollers {
  margin-bottom: 36px;
  // .spollers__item
  &__item {
    margin: 3px 0;
  }
  // .spollers__title
  &__title {
    outline: 3px solid #000000;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;

    // .spollers__title_info
    &_info {
      background: #951e20;
      padding: 10px 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: #fff;
      position: relative;
    }
    // .spollers__title_main
    &_main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      flex-grow: 1;
    }
    // .spollers__title_text
    &_text {
      margin-left: 70px;
    }
    // .spollers__title_button
    &_button {
      display: flex;
      align-items: center;
      & p {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 88%;
        color: #951e20;
      }
      & img {
        position: relative;
        transition: all 0.3s ease 0s;
      }
    }
    &._spoller-active .spollers__title_button img {
      transform: rotate(-180deg);
    }
  }
  // .spollers__body
  &__body {
    width: 90%;
    margin: 3px auto 0;
    // .spollers__body_list
    &_list {
    }
    // .spollers__body_item
    &_item {
      border: 3px solid #939393;
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 10px;
      gap: 15px;
      margin: -1.5px 0;
    }
    // .spollers__body_title
    &_title {
    }
    // .spollers__body_span
    &_span {
    }
    // .spollers__body_text
    &_text {
      max-width: 60%;
    }
    // .spollers__body_image
    &_image {
      & img {
        max-width: 140px;
      }
    }
  }
}
//========================================================================================================================================================

.ib {
  margin-bottom: 40px;
}
.ib-p {
  overflow: hidden;
  // .ib-p__cont
  &__cont {
    border-left: 16px solid #951e20;
  }
  // .ib-p__main
  &__main {
    border-top: 20px solid #000;
    border-bottom: 20px solid #000;
    border-right: 16px solid #000;
    border-left: 16px solid #000;
  }
  // .ib-p__title
  &__title {
    padding: 30px 24px;
  }
  // .ib-p__list
  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  // .ib-p__item
  &__item {
    position: relative;
    &:nth-child(1) {
      &::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 60%;
        background-color: #000;
        top: 0;
        z-index: 1;
      }
      &::after {
        content: "";
        position: absolute;
        height: 20px;
        width: 72%;
        background-color: #000;
        top: 0;
        right: -42%;
        z-index: 1;
      }
      & .ib-p__con {
        &::before {
          content: "";
          position: absolute;
          height: 20px;
          width: 60%;
          background-color: #000;
          bottom: 0;
          z-index: 1;
        }
        &::after {
          content: "";
          position: absolute;
          height: 20px;
          width: 72%;
          background-color: #000;
          bottom: 0;
          right: -42%;
          z-index: 1;
        }
      }
    }
    &:nth-child(2) {
      &::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 80%;
        background-color: #000;
        top: 0;
        right: -36%;
        z-index: 1;
      }
      &::after {
        content: "";
        position: absolute;
        height: 20px;
        width: 80%;
        background-color: #000;
        bottom: 0;
        right: -36%;
        z-index: 1;
      }
      & .ib-p__con {
        &::before {
          content: "";
          position: absolute;
          width: 14px;
          height: 100%;
          background-color: #000;
          left: -14px;
          z-index: 1;
          top: 0;
        }
      }
    }
    &:nth-child(3) {
      &::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 72%;
        background-color: #000;
        top: 0;
        right: -18%;
        z-index: 1;
      }
      &::after {
        content: "";
        position: absolute;
        height: 20px;
        width: 72%;
        background-color: #000;
        bottom: 0;
        right: -18%;
        z-index: 1;
      }
      & .ib-p__con {
        &::before {
          content: "";
          position: absolute;
          width: 14px;
          height: 20%;
          background-color: #000;
          left: -14px;
          top: 0;
          z-index: 1;
        }
        &::after {
          content: "";
          position: absolute;
          width: 14px;
          height: 70%;
          background-color: #000;
          left: -14px;
          bottom: 0;
          z-index: 1;
        }
      }
    }
  }
  // .ib-p__con
  &__con {
    position: relative;
    // .ib-p__cont_main
    &_main {
      position: relative;

      & img {
        max-height: 315px;
        object-fit: cover;
      }
    }
  }
  // .ib-p__link
  &__link {
    // .ib-p__link_con
    &_con {
      display: flex;
      padding: 30px 24px;
      justify-content: end;
    }
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 88%;
    color: #939393;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #000;
      }
    }
  }
}

.ib-m {
  border-left: 16px solid #951e20;
  // .ib-m__con
  &__con {
    border-right: 16px solid #000;
    border-left: 16px solid #000;
  }
  // .ib-m__title
  &__title {
    padding: 30px 24px;
  }

  // .ib-m__m
  &__m {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 48%;
      background-color: #000;
      z-index: 1;
      pointer-events: none;
    }
    &::after {
      content: "";
      position: absolute;
      height: 20px;
      width: 48%;
      background-color: #000;
      z-index: 1;
      top: 0;
      right: 0;
      pointer-events: none;
    }
  }
  // .ib-m__main
  &__main {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 27%;
      background-color: #000;
      z-index: 1;
      pointer-events: none;
      bottom: 0;
    }
    &::after {
      content: "";
      position: absolute;
      height: 20px;
      width: 27%;
      background-color: #000;
      z-index: 1;
      bottom: 0;
      right: 0;
      pointer-events: none;
    }
    // .ib-m__main_con
    &_con {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 38%;
        background-color: #000;
        z-index: 1;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        pointer-events: none;
      }
    }
    & #map {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      & img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.ib-pol {
  background: #951e20;
  border-right: 16px solid #000;
  padding: 60px 56px;
  // .ib-p__title
  &__title {
    color: #fff;
    margin-bottom: 40px;
  }
  // .ib-p__row
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    & p {
      max-width: 500px;
      color: #fff;
    }
  }
  // .ib-p__item
  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    & p {
      color: #fff;
    }
    // .ib-p__item_pop
    &_pop {
    }
  }
}

//========================================================================================================================================================

.aj {
  margin-bottom: 64px;
  // .aj__main
  &__main {
  }
  // .aj__title
  &__title {
    margin-bottom: 40px;
    margin-left: 48px;
  }
  // .aj__list
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  // .aj__item
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      width: 100%;
      height: 100%;
    }
  }
}

//========================================================================================================================================================

.bb {
  // .bb__main
  &__main {
    background: #951e20;
    color: #fff;
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    &::after {
      content: "";
      position: absolute;
      background-color: #000;
      width: 16px;
      height: 100%;
      right: 0;
    }
  }
}

//========================================================================================================================================================
